# Data Cleaning for Dataset
Dataset found [here.](https://www.kaggle.com/olistbr/brazilian-ecommerce)

In [1]:
import pandas as pd
import glob

In [2]:
#import datasets
filenames = glob.glob("*.csv")

datasets_list = []

for filename in filenames:
    print(filename)
    df = pd.read_csv(filename)
    datasets_list.append(df)

olist_customers_dataset.csv
olist_geolocation_dataset.csv
olist_orders_dataset.csv
olist_order_items_dataset.csv
olist_order_payments_dataset.csv
olist_order_reviews_dataset.csv
olist_products_dataset.csv
olist_sellers_dataset.csv
product_category_name_translation.csv

In [3]:
#constants for easier access to dataset
CUSTOMERS = 0
GEOLOCATION = 1
ORDERS = 2
ORDER_ITEMS = 3
ORDER_PAYMENTS = 4
ORDER_REVIEWS = 5
PRODUCTS = 6
SELLERS = 7
CATEGORY_NAME = 8

In [25]:
datasets_list[ORDER_ITEMS].head() #Example accessing olist_order_items_dataset using constants

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [4]:
for df in datasets_list:
    print(df.isnull().any())

customer_id                 False
customer_unique_id          False
customer_zip_code_prefix    False
customer_city               False
customer_state              False
dtype: bool
geolocation_zip_code_prefix    False
geolocation_lat                False
geolocation_lng                False
geolocation_city               False
geolocation_state              False
dtype: bool
order_id                         False
customer_id                      False
order_status                     False
order_purchase_timestamp         False
order_approved_at                 True
order_delivered_carrier_date      True
order_delivered_customer_date     True
order_estimated_delivery_date    False
dtype: bool
order_id               False
order_item_id          False
product_id             False
seller_id              False
shipping_limit_date    False
price                  False
freight_value          False
dtype: bool
order_id                False
payment_sequential      False
payment_type            False
payment_installments    False
payment_value           False
dtype: bool
review_id                  False
order_id                   False
review_score               False
review_comment_title        True
review_comment_message      True
review_creation_date       False
review_answer_timestamp    False
dtype: bool
product_id                    False
product_category_name          True
product_name_lenght            True
product_description_lenght     True
product_photos_qty             True
product_weight_g               True
product_length_cm              True
product_height_cm              True
product_width_cm               True
dtype: bool
seller_id                 False
seller_zip_code_prefix    False
seller_city               False
seller_state              False
dtype: bool
product_category_name            False
product_category_name_english    False
dtype: bool

In [5]:
#size of each table
for df in datasets_list:
    print(len(df))

99441
1000163
99441
112650
103886
100000
32951
3095
71

## Exporting tables 
This part exports the tables to csv files with 500 entries and non-null values. Tables will be used by SQL database.
Joke di gumagana ung loop so ayusin nalang isa isa.

In [6]:
filenames = ['CUSTOMERS', 'GEOLOCATION', 'skip', 'ORDER_ITEMS', 'skip', 'ORDER_REVIEWS', 'PRODUCTS', 'SELLERS', 'skip']
SAMPLE_SIZE = 500

In [10]:
#for every df, drop null -> sample 500 -> export to csv
for i in range(0, len(datasets_list) - 1):
    if i != ORDERS and i != ORDER_PAYMENTS and i != CATEGORY_NAME:
        exports = datasets_list[i].dropna()
        exports = exports.sample(SAMPLE_SIZE)
        exports.to_csv(r'C:\Users\Ronell Roxas\Desktop\\' + filenames[i] + '.csv', index=False, header=True)
    
# WARNING: Don't export on same folder as initial datasets, it will change the order of tables in datasets_list

In [8]:
#Export Orders table merged with payments (according to SQL database)
export = datasets_list[ORDERS].dropna()
payments = datasets_list[ORDER_PAYMENTS]
export = export.merge(payments, on='order_id', how="left")
export = export.sample(SAMPLE_SIZE)
export.to_csv(r'C:\Users\Ronell Roxas\Desktop\ORDERS.csv', index=False, header=True)

In [9]:
#export category_name (71 entries only, special case)
export = datasets_list[CATEGORY_NAME].dropna()
export.to_csv(r'C:\Users\Ronell Roxas\Desktop\CATEGORY_NAME.csv', index=False, header=True)